/*
.header {
  font-style: "Regular";
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4.15px;
  display: grid;
  grid-template-columns: 1fr 135.9px 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
}

.header__menu {
  letter-spacing: 0em;
  line-height: 100%;
  list-style-type: circle;
  text-transform: lowercase;
  display: flex;
  grid-column: 1 / 2;
  gap: 32.7px;
  padding-left: 50px;
}

.header__logo {
  grid-column: 2 / 3;
  height: 105px;
}

.address {
  font-style: normal;
  list-style-type: none;
  grid-column: 3 / 4;
  justify-self: end;
  margin-right: 50px;
  width: 240px;
}

.address-position-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}
*/