.cover {
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 757px;
  width: 1100px;
}

.cover h1,
.description {
  position: relative;
  z-index: 1;
}

.main-title h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  line-height: 132%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-top: 160px;
}

.first-word {
  margin: 50px;
}

.second-word {
  margin-left: 380.5px;
}

.third-word {
  margin-left: 663px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 100px; /*не то значение*/
  margin-right: 50px;
  margin-left: 50px;
  height: 51px;
}

.description p,
.button {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  align-content: center;
}

.description p {
  word-spacing: 0.85em;
}

.button {
  color: white;
  border: 1px white ridge;
  background-color: transparent;
  cursor: pointer;
  width: 256px;
  height: 51px;
}
