/* место для вашего кода */
.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr 135.9px 1fr;
    align-items: center;
    font-style: "Regular";
    font-weight: 400;
    font-size: 18px;
    text-underline-offset: 4.15px
}

.header__menu {
    display: flex;
    grid-column: 1 / 2;
    padding-left: 50px;
    text-transform: lowercase;
    letter-spacing: 0em;
    line-height: 100%;
    list-style-type: circle; 
    gap: 32.7px;
}

.active {
    text-decoration: none;
}

nav ul :first-child {
    list-style-type: none; 
}

.header__logo {
    height:105px;
    grid-column: 2 / 3;  
}

.address{
    width: 240px;
    grid-column: 3 / 4;
    justify-self: end;
    margin-right: 50px;
    font-style: normal;
    list-style-type: none;
}

.address-position-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 757px;
    width: 1100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0; 
}

.cover h1,
.description {
    position: relative;
    z-index: 1;
    color: white;
}

.main-title h1{
    padding-top: 160px;  /* Надо будет изменить на 165*/
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 132%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.first-word {
    margin: 50px 
}

.second-word {
    margin-left: 380.5px; 
}

.third-word {
    margin-left: 663px; 
}

.description {
    display: flex;
    height: 51px; 
    justify-content: space-between; 
    margin-top: 100px;  /*не то значение*/
    margin-right: 50px;
    margin-left: 50px;
}

.description p,
.button {
    align-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: white;
}

.description p {
    word-spacing: 0.85em;
}

.button {
    width: 256px;
    height: 51px;
    border: 1px white ridge;
    background-color: transparent;
    cursor: pointer;
}

.lots {
    position: relative;
    margin-top: 180px; 
    margin-left: 24px; 
    height: auto;
}

.lots h2 {
    height: 47px;
    margin-bottom: 27px;
    margin-left: 40px;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.card-title {
    color: white;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-top: auto;
}

.first-card {
    width: 334px;
    position: relative;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.second-card {
    width: 334px;
    height: 596px;
    position: relative;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.third-card {
    width: 334px;
    height: 596px;
    position: relative;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.first-card li {
    margin-left: 40px; 
}

.first-card li,
.second-card li,
.third-card li {
    color: white;
    width: 254px;
    list-style-type: none;
    margin-top: 48px;
    margin-left: 40px;
}


.first-card article {
    margin-top: 277px;
}

.second-card article {
    margin-top: 35px;
}

.third-card article {
    margin-top:  130px;
}

.card-article {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.watch-more {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: lowercase;
    width: 192px;
    height: 23px;
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    width: 1052px;
    min-height: 595px;
    margin-top: 126px;
    margin-left: 24px;
    padding-top: 35px
}

.about-logo {
    grid-column: 1 / 2;
    justify-self: center;
}

.about h2,
.first-about,
.second-about {
    grid-column: 2 / 3;
    margin-top: 101px;
    margin-left: 25px;
    margin-right: 3px;
}

.about h2 {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.about p {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.first-about {
    margin-top: 100px;
}

.second-about {
    margin-top: 24px;
}

.footer {
    display: grid;
    align-items: start;
    grid-template-columns:  1fr 163.9px 1fr;
    width: 100%;
    height: 180px;
    margin-top: 172px; 
    padding-right: 50px;
    padding-left: 50px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%; 
    text-underline-offset: 4.15px;
}

.address-position-footer {
    width: 264.57px;
    height: 98px;
    grid-column: 1 / 2;
    justify-self: start;
    line-height: 24.3px;
}


.navigation-footer li {
    justify-self: center;
    grid-column: 2 / 3;
    line-height: 23px;
    text-transform: lowercase;
    list-style-type: none; 
}

.socials {
    display: flex;
    justify-content: space-between;
    justify-self: end;
    grid-column: 3/4;
    width: 240px;
    height: 48px;
}